.profile__info {
    display: grid;
    grid-template-columns: 1fr auto;
    min-width: 336px;
    width: fit-content;
    grid-template-rows: auto auto;
    grid-template-areas: "profile__title profile__edit-button"
        "profile__subtitle profile__subtitle";
    padding-left: 30px;
}

@media screen and (max-width: 768px) {
    .profile__info {
        margin: 0 auto 36px auto;
        text-align: center;
        grid-template-areas: "profile__title"
            "profile__subtitle";
        grid-template-columns: 1fr;
        max-width: calc(100% - 106px);
        width: fit-content;
        position: relative;
        padding-left: 0px;
        min-width: 0;
    }
}

@media screen and (max-width: 768px) {
    .profile__info {
        max-width: calc(100% - 50px);
    }
}